#title
{
	background-color: #0000ff;
}

.editionbutton
{
	background-color: #0000ff !IMPORTANT;
}

#wishlist
{
	background-color: #fff !IMPORTANT;
}

#messageZoom
{
	background-color: #aaf;
}

.currentedition 
{
	background-color: #aaf !IMPORTANT;
}

