#title
{
	background-color: #168942;
}

.editionbutton
{
	background-color: #ec893d !IMPORTANT;
}

#wishlist
{
	background-color: #fff !IMPORTANT;
}

#messageZoom
{
	background-color: #ec893d;
}

.currentedition 
{
	background-color: #168942 !IMPORTANT;
}

