#title
{
	background-color: #c60c30;
}

.editionbutton
{
	background-color: #ff6677 !IMPORTANT;
}

#wishlist
{
	background-color: #fff !IMPORTANT;
}

#messageZoom
{
	background-color: #ff6677;
}

.currentedition 
{
	background-color: #c60c30 !IMPORTANT;
}

